footer {
    background: #FFFFFF;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 10px;

    @media only screen and (max-width: 767.98px) {
        padding-bottom: 40px;
    }

    .footer__img {
        width: 30px;
        height: 30px;
        opacity: 0.5;
        margin-left: 30px;

        @media only screen and (max-width: 767.98px) {
            margin: 30px 10px;
        }
    }
}