// color
$pink: #E92569;
// $background-color: radial-gradient(#ffffff, #E6E6E6);
$nav-color: #E6E6E6;
$background-color:  #E6E6E6;

// text color
$dark-text-color: #0A0A0A;
$text-color: #767676;